/venv
*.csv
test.ipynb
predict/predict_grid.py
bcr.py
data/model/lgb.txt
/build/*
*.spec

ppp/study.png
ppp/b3summer.pptx
ppp/graph.mp4
ppp/Horse Infographics by Slidesgo.pptx
ppp/qrcode_github.com.png
ppp/b3summer.pptx
